/* Style using gradient navbar */
.navbar, .navbar-default {
    background-image: linear-gradient(to right,#182848 0,#4b6cb7 100%) !important; /* CSS rules marked !important take precedence over later rules. */
}

.basic-navbar-left{
    float:left;
}

.nav-link:hover{
    color: white !important;
}

.nav-link a{
    font-size: 15px;
}