body {
    margin: 25px auto;
    width: 1000px;
}

#slides {
    width: 500px;
    height: 300px;
    margin: 25px;
    display: inline;
}

.slide_element {
    width: 500px;
    height: 300px;
    position: relative;
    display: none;
}

.slide_element img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide_element .text {
    text-align: center;
    position: absolute;
    color: white;
    bottom: 0;
    background-color: rgba(5, 5, 5, 0.5);
}

.slide_element .text h2 {
    font-size: 22px;
    margin: 15px 10px 10px 10px;
}

.slide_element .text p {
    font-size: 15px;
    margin: 8px;
}

.slide_element .links {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
}

#wordCloud {
    margin: 25px;
    display: inline;
}

.news_title {
    text-align: center;
}

.br_line {
    border-top: 1px dotted black;
}

.news_title {
    padding: 10px;
}

.news_title h1 {
    margin: 0;
}